// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// Styles Contents
// 1. Front / home page
//  * header.php
//  * searchbar
//  * Top most recent post - headings and excerpt
//  * 6 most recent posts - headings and excerpt 
// 2. Single posts styles
// 3. Search styles
// 4. 404 styles
// 5. Navigation styles
// 6. Comment Styles
// 7. Typeography Styles
// 8. Footer Styles

// 1. Front / Home Page Styles
.most-recent-post{
    padding-bottom: 5%;
}

.pagination{
    margin-top:45%;
}

.search-bar{
    padding-top:5%;
}

// Headings Excerpts Top Post
.heading-post-top{
    
    font-family: $creteRound;
    font-size: 4em;
    font-weight:bolder;
}

.excerpt-post-top{
    font-family:$patuaOne;
    font-size:2.5em;
}


// 6 Most recent posts headings and excerpts
.most-recent-group-heading{
    font-family: $creteRound;
    font-size: 2.2em;
    font-weight:bolder;
}

.most-recent-group-excerpt{
    font-family:$patuaOne;
    font-size:1.2em;
}

// 2. Single posts styles

.single-header-post{
    font-family: $creteRound;
    font-size: 2.8em;
    
}

.single-content-post{
    font-family:$notoSans;
    font-size:1.5em;
}

// 5. Navigation Styles
.nav-link{
    font-family:$patuaOne;
    font-size:1.1em;
    text-align: center;
    border-spacing: 2em;
    border: solid 3px;
    border-radius: 10%;
    background-color: $secondary;
    padding-left: 5%;
    padding-right:5%;
}

 .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: $link_hover;
    //color: $primary;
}

.navbar-collapse{
    margin-top:-18%;
    padding-top:1px;
}

// 6. Comment Styles

.comment-content{
    font-family:$creteRound;
    font-size:1.2em;
}

// 7. Typeography Styles

a {
    color:$links;
}

a:hover {
    color:$link_hover;
}

//Pagination link styles
.paginate-bottom-link-styles{
    font-family: $creteRound;
    font-size: 1.5em;
    font-weight:bolder;
}

// 8. Footer Styles
#wrapper-footer {
    background-color: $footer-background;
}