// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// Styles Contents
// 1. Front / home page
// 2. Single posts styles
// 3. Search styles
// 4. 404 styles
// 5. Navigation styles
// 6. Comment Styles
// 7. Typeography Styles

// 1. Front / Home Page Styles
.most-recent-post{
    padding-bottom: 5%;
}


// 7. Typeography Styles

a {
    color:$links;
}

a:hover {
    color:$link_hover;
}


